<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rixa</title>
  </head>


  <body>
    <h2>Rixa</h2>
    <canvas id="canvas" width="300" height="300"></canvas>

  </body>

  <script src="canvas.js"></script>

</html>
